.collections .firstrow{
  width: 100%;
}

.imagewrapper{
  
  overflow:hidden;
  height: 150px;
  width: 30%;
  margin:1%;
  margin-top:0;
  margin-bottom:0;
  float:left;
  position:relative;
 
}

.collections .carousel-inner{
  position: relative;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
 
}

.collections .carousel{
  height: 150px;
  
}

