.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*the height break point seems to be just over 450px;
/*width breakpoint 350px;*/

@font-face {
  font-family: 'Open-Sans-600';
  src: url(fonts/Open-Sans-600.ttf);
}

@font-face {
  font-family: 'Open-Sans-300';
  src: url(fonts/Open-Sans-300.ttf);
}

@font-face {
  font-family: 'Open-Sans-regular';
  src: url(fonts/Open-Sans-regular.ttf);
}
	

body{
  margin:0;
  padding:0;
  font-family: 'Open-Sans-600';	
  -webkit-font-smoothing: antialiased;
}



.user-profile{
  width:100%;
  position:absolute;
  top:1em;
  left:0;
}

.padding1{
  padding: 1em;  
}

.fluid{
  width: 100%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vertical-align{
   vertical-align:middle;
}
