<<<<<<< HEAD
=======
.list{
  background: red
}

.language-picker{
  background: white;
  border-radius: 3px;
  
  }
  
.second-layer{
  margin-top:2em;
}

.intro{
  background: tomato;
  height:1000px;
  color: lavender;
}

.navbar-fixed-top{

   padding: 1em;
   background: transparent;     

}

.top-nav-collapse {
   padding: 0;
   background-color: black;
}

.intro {
    
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: tomato;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.page-scroll{
  color: white;
}

.intro-text{
  margin-top: 1.75em;
}

.launch-text{
  padding:1em;
  border: solid black 2px;
  border-radius: 20px;
}
>>>>>>> origin/contributing

@font-face {
    font-family: 'Open-Sans-600';
    src: url(styles/fonts/Open-Sans-600.ttf);
    
   }
   @font-face {
    font-family: 'Open-Sans-regular';
    src: url(styles/fonts/Open-Sans-regular.ttf);
    
   }
	
	
	
	body{
	
	  margin:0;
	  padding:0;
      font-family: 'Open-Sans-600';	
	}


  .signup-top{
    position:absolute;
	top:0;
	left:0;
	width:100%;
	height:8vh;
  }
 
	
.parallax {
<<<<<<< HEAD
  	 
=======
>>>>>>> origin/contributing
  perspective: 1px;
  top:.5vh;
  overflow-x: hidden;
  overflow-y: auto;
  height:100vh;
  position:relative;
  height:99.5vh;
}

#first-parallax{

  
}

<<<<<<< HEAD

.parallax__group {
  position:relative;
  background: rgba(30,30,30,0.25);
//  background: url(logo/Logo_+_256.png) no-repeat bottom center scroll;
//    -webkit-background-size: cover;
//   -moz-background-size: cover;
//    background-size: cover;
//    -o-background-size: cover;
 
  height:100vh;
  transform-style: preserve-3d;
  width:100%;
  -webkit-transform-style: preserve-3d;
  }
  
  
  
  .parallax__group:nth-child(2){
    background: white;
  }

=======
>>>>>>> origin/contributing
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
<<<<<<< HEAD
  height:100vh;
=======
  height:200vh;
>>>>>>> origin/contributing
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
<<<<<<< HEAD
  
=======
   box-shadow: 0 -4px 4px 4px #ccc;
>>>>>>> origin/contributing
}
.parallax__layer--back {
  -webkit-transform: translateZ(-1px);
  transform: translateZ(-1px);
  -webkit-transform: translateZ(-1px) scale(2);
<<<<<<< HEAD
 width:100%;
 
   
}

.under-back{

  position:absolute;
  width:100%;
  top:200vh;
  

}

.second-page{
   height:100vh;
   width:100%;
   position:absolute;
 }
 
.third-page{
  position:relative;
  width:100%;

  margin-top:3em;
  border:solid black 2px;
}
=======
  //background-image: url(logo/Logo_+_256.png);  
  
  
 width:100%;
 top:50%;
  
   
}

.parallax__group {
  position:relative;
  background: rgba(30,30,30,0.25);
//  background: url(logo/Logo_+_256.png) no-repeat bottom center scroll;
//    -webkit-background-size: cover;
//   -moz-background-size: cover;
//    background-size: cover;
//    -o-background-size: cover;
 
  height:100vh;
  transform-style: preserve-3d;
  width:100%;
  -webkit-transform-style: preserve-3d;
  }
  
  .parallax__group:nth-child(2){
    background: white;
  }
>>>>>>> origin/contributing
  
  
  #section-two{
    left:0;
	width:90%;
	height:100vh;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	border:solid black 1px;
<<<<<<< HEAD
    font-family: 'Open-Sans-600;
=======

>>>>>>> origin/contributing
  }
  
  article{
    position:relative;
	top:20%;
<<<<<<< HEAD
	width:110%;
	margin-left:auto;
	margin-right:auto;
	height:65%;
  }
  
  .below-article{
    border-top: 2px black solid;
    position:relative;
	bottom:20%;
	width:80%
	margin-top:1em;
	padding-top:2em;
	font-size:1.4em;
	font-style: italic;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	font-family: 'Open-Sans-600;
  }
  
   #section-two em{
      border-top: 3px slategray ridge;
	  padding-top: 1.5em;
      margin:2em 2em 2em 2em;
	  width:80%;
      text-align: center;
	  position:absolute;
	  font-size:1.25em;
	  
=======
	height:100%;
	width:110%;
	margin-left:auto;
	margin-right:auto;
>>>>>>> origin/contributing
  }
  
  #section-two div{
    width: 25%;
	height:30%;
	float:left;
	font-size:1.2em;
	text-align:center;
	
  }
  
  #section-two span{
    width: 8%;
	height:30%;
	float:left;
	font-size:1.2em;
	text-align:center;
	
  }
  
  #section-two div img{
<<<<<<< HEAD
    
=======
    width:100%;
	height:100%;
	border:solid yellow 2px;
>>>>>>> origin/contributing
  }
  
  #signup-language,#signup-button{

    position: absolute;
    padding: 1vh;
	margin: .75em;

  }

  #signup-button{
    right:0;
  }	
  
  #jumbotron{
  
    position:relative;
	top:0px;
<<<<<<< HEAD
    height:100%;
=======
	
>>>>>>> origin/contributing
	width:100%;
	text-align:center;
  }
  
<<<<<<< HEAD
  #jumbotron img:nth-child(1){
=======
  img:nth-child(1){
>>>>>>> origin/contributing
    display:block;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	border:solid black 3px;
	
  }
  
  #create-space{
<<<<<<< HEAD
    height:4em;
=======
    
    height:3em;
>>>>>>> origin/contributing
	width: 100%;
	border: solid black 1px;
  }
  
  #artfactum-describe{
    padding: 1em;
  }
  
  .oval-button{
    padding: .75em;
    position:relative;
	display:block;
	margin-left: auto;
	margin-right:auto;
    border:solid black 2px;
<<<<<<< HEAD
    width:14em;
=======
    width:12em;
>>>>>>> origin/contributing
	border-radius:20px;
	font-family: 'Open-Sans-regular';
	font-weight:bold;
	font-size:1em;
  }
<<<<<<< HEAD
  
  .create-space img{
    position:absolute;
	overflow:hidden;
	z-index:1;
  }
  
.container-fluid{
  font-family: 'Open-Sans-600';
  margin-top:2em;
  font-size:1.5em;
  padding:1em;
  
}

.min-height div{
  height: 8em;
}

figure {
  height:8em;
  
}

.container-fluid span{
  
  text-decoration:underline;
  
}

#near-footer{

  font-size:1em;
  
}

.center-wrapper figure{
  border:solid gray .2em;
  padding:.75em;
}


#signup-footer{
  border-top:2px solid black;
  background: #eee;
}

#underline{
  text-decoration: underline;
}

.center-wrapper{
  border: solid blue 2px;
  position:relative;
  display:block
  width:110%;
  margin-right:auto;
  margin-left:auto;
  
}

.margin-top-1{
  margin-top:1em;
}
=======
  
>>>>>>> origin/contributing
