
.top-nav{

  width: 98%;
  display: block;
  margin-left: auto;
  margin-right:auto;
  background: white;
  
}


.tabs:active{
	
	box-shadow: inset 0px -5px blue;
    -webkit-transition: all 0.15s linear;
	transition: all 0.15s linear;
	
}

.tabs:focus{
	color: tomato;
	box-shadow: inset 0px -5px tomato;

}

.tabs:hover{
  
  
	box-shadow: inset 0px -5px  5px blue;
    -webkit-transition: all 0.85s linear;
	transition: all 1.5s linear;
  
}


.navbar{
  background: white;
  border: none;
}

.search{

  border: none;
  outline: none;
  
}

.search-box{

  overflow:hidden; 

}

.user-profile-head{

  height: 14em;
  background: purple;
  background-image: url(../images/mohai.jpg);
 

}

.user-profile-head h1{

  position: relative;
  top:1.5em;
  width:100%;
  height:7em;
  color: white;
 
}

.photo-circle{
  position:relative;
  top:1em;
  border: solid #eee 4px;
  box-shadow: 0 0 4px 1px white;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display:block;
  overflow:hidden;
  margin-left:auto;
  margin-right:auto;
  display:cover;
  background: white;
}

.inner-circle{

  position:absolute;
  z-index:9999;
  width:100%;
  height:100%;
  top: .75em;
}

.user-profile-bottom{

  position:relative;
  top:300px;
  height: 14em;
  overflow:hidden;
  background: #3a3a3a;
  color:white;

}



.user-profile-forms{

  width: 80%;
  top:1em;

}

/*make width wider on wider screens*/

.user-profile-forms article{
  top:2em;
  left:0; 
  width:90%;
  height: 270px;
 
}

article p{
  margin-top:1em;
}

article .btn-group{

  margin-left:5em;
  margin-right:5em;

}

.dropdown-toggle{
  background:tomato;
  color:white;
}

.button-wrapper{
  position:relative;
  top:1em;
  width:100%;
}

.user-profile-logo-bottom{

  width:200px;

}

.user-profile-top-logo{

  width:3em;

}

.user-profile-search{
  padding-top:.5em;
}

.top-logo-holder{
  width: 50px;
  height:50px;
  
}

.article{
  position: relative;
  width:400px;
  border: solid pink 1px;
}



.top-drop, .top-drop:active{

  background: inherit;
   
}

.top-drop:hover{
  background: #d1ccca;
}