



.row{

  //border: solid black 2px;
  
}


.tomato-button{

  border-radius: 15px;
  background: white;
  border: tomato 2px solid;
  color: tomato;
  
}


.sort{

  padding-left: 15px;
  padding-right: 15px;
  
}

.sorter{

  position:relative;
  display:block;
  width:100%;
  height:1.5em;
  
}

.sorter div{
  position:absolute;
  right: 2.5em;
}


.masonry-row{
  position:relative;
  top:2em;
}


.list{
  
  width:100%;
  margin:0;
  padding:0;
  margin-bottom: 3em;
  
}

.browse-images{
  position: relative;
  text-align:right;
  list-style:none;
  width: 100%;
  margin:0;
  padding:0;
  margin-top:5px;
}


		  
.notfocused{
 
  color:slategray;
  cursor:pointer;
  -webkit-transition: color .4s ease;
          transition: color .4s ease;
}

.focused{
  
  cursor:pointer;
  color:tomato;
  
  text-decoration:none;
    -webkit-transition: color .4s linear;
          transition: color .4s linear;
}


.browse-categories-dt{
  position:relative;
  top:2em;
}

.browse-sort{

  position:relative;

}


.browse-categories{

  display: none;

}

