.overlay{

  color:white;
  position:absolute;
  opacity:0;
  width:100%;
  height:100%;
  background: rgba(20,20,20,0.0);

}

.overlay:hover{
opacity:0.99;
  background: rgba(20,20,20,0.7);
  -webkit-transition: background .8s ease;
          transition: background .8s ease;
}
		  
.overlay-clicked{
  
  opacity:0.99;
  background: rgba(20,20,20,0.72);
  -webkit-transition: background .8s ease;
          transition: background .8s ease;

}

.overlayWrapper{

  position:relative;
  width: 100%;
  height:100%;
  border: solid 1px #eee;

}

.overlayWrapper .container{

  margin:12px 18px 12px 0;
  position:relative;
  width: 100%;

}

.overlay .description{
  
  text-align: justify;
  font-size: 0.8em;
  font-style:italic;
  margin-left:1.75em;
  margin-right:2.5em;
 
}

.overlay .btn-group-justified{
 width:100%;
}

.overlay .btn-group-justified .btn{
  color:white;
  width:20%;
  border: none;
  margin-top:18px;
  background: inherit;
}

.overlay .glyphicon:hover{
  color: #e56e5c;
}

.overlay .glyphicon:active{
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: -webkit-transform .5s liner;
          transition: -webkit-transform .5s liner;
}

.overlay .btn small{
  color: white;
  font-size:9px;
}


.overlay  .follow{
  color: white;
}

.overlay .Unfollow{
  color: orange;
}