/*the height break point seems to be just over 450px;
 *width breakpoint 350px;
 */

#underline{

  text-decoration: underline;

}

/*for the language picker and sign-in button
 *the entire page needs to be wrapped inside the parallax class and it needs
 *to have the appropriate height to keep a second scroller from appearing
 */
	
.parallax {
  -webkit-perspective: 1px;
          perspective: 1px;
  top:.5vh;
  overflow-x: hidden;
  overflow-y: auto;
  position:relative;
  height:99vh;
  background:white;
}


.parallax__group {
  position:relative;
  background: white;

  height:100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width:100%;
  -webkit-transform-style: preserve-3d;
}
  
.parallax__group:nth-child(2){
   background: white;
}

.parallax__layer {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height:100vh;
}

.parallax__layer--base {

  webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);

}

.parallax__layer--back {

  -webkit-transform: translateZ(-1px);
  transform: translateZ(-1px);
  -webkit-transform: translateZ(-1px) scale(2);
  width:100%;
   
}

.parallax__group {
  position:relative;
  background: rgba(130,130,230,0.01);
  height:100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width:100%;
  -webkit-transform-style: preserve-3d;
}
  
.parallax__group:nth-child(2){
  background: white;
}

/***
 three pages in total
 ***/

.signup .first-page{}

.signup .second-page, .third-page{
  width:100%;
  position:absolute;
}
 
.second-page{
  top:45vh;
  height:190vh;
  background:white;
}
 
.third-page{
  top:233vh;
  left:0;
  margin:0;
  margin-top:1em;
}


/*wrap the second and third pages*/

.under-back{
  position:absolute;
  width:100%;
  top:200vh;
}


/*top header*/

#signup-language,#signup-button{
    position: absolute;
    padding: 1vh;
	margin: .75em;
}

#signup-button{
  right:0;
}

/*hero-unit*/	
 
#jumbotron{
  
  position:relative;
  top:-8%;
  height:70%;
  width:100%;
  text-align:center;
  color:black;
  overflow:hidden:
}
  
  
#jumbotron img:nth-child(1){
  
  position:absolute;
  z-index:0;
  left:-25%;
  top:-25%;
  opacity:0.35;
    
}
  
#jumbotron img:nth-child(2){

  top:.5em;
  display:block;
  position:relative;
  z-index:0;
  margin-left:auto;
  margin-right:auto;
  //background: rgba(300,300,300,0.5);
  //border-radius:50%;
}
  
.jumbo-inner{
  
  position:relative;
  top:-14%;
  font-size:1.4em;
  margin-left:5%;
  margin-right:5%;
}
  
#jumbotron i{

  margin-top:-.2em;
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:90%;
  font-size:.9em;
  color:#000;
 
}

#jumbotron h2{
  
  color:black;
  font-size:1.4em;
  
}

		
.oval-button{
  text-align:center;
  color:white;
  background: #e5635c;
  padding: .75em;
  position:relative;
  display:block;
  margin-left: auto;
  margin-right:auto;
  width:15em;
  border-radius:20px;
  font-family: 'Open-Sans-regular';
  font-weight:bold;
  font-size:1.2em;
}
  
.second-oval{

  background:blue;

}
  
  
/*second section of the first page
  the first page actually being two pages of vh (window height)
 */  
  
#section-two{
  left:0;
  width:90%;
  height:100vh;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  font-family: 'Open-Sans-regular';
  font-size:1.2em;
}

/*wrap the icon section*/
  
article{
  position:relative;
  top:15%;
  width:110%;
  margin-left:auto;
  margin-right:auto;
  height:65%;
}

#signup-icons div{
  margin-top:2em;
}
  

  /*statement*/
  
.below-article{
	
	position:relative;
	bottom:20%;
	clear:float;
	width:80%;
	padding-top:1.5em;
	font-size:1.4em;
	font-style: italic;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	font-family: 'Open-Sans-600';
}
  
  
.center-wrapper .row{

 margin-top:3em;

} 
  
#section-two div{
    
	width: 25%;
	height:30%;
	float:left;
	font-size:1.2em;
	text-align:center;
	
}
  
#section-two span{

    
	width: 8%;
	height:30%;
	float:left;
	font-size:1.2em;
	text-align:center;
	

}
  
/*TODO make less global*/

.min-height div{
  
  padding: 0 15px;
  min-height: 40vh;
 
}

.min-height h3{

  color:#e56e5c;

  }

.min-height p{

  color: slategray;

}

figure {

  height:40vh;
  min-width:40vh;
  display:cover;
  overflow:hidden;
  

}

figure img{

  padding:1.1em;
  padding-right:4em;
  width: 100%;
  height:100;
  position:absolute;
  left:0;
  top:0;
   box-shadow: 0 0 5px 2px #ccc;

}

.fair-heading{

  position:relative;
  top:3em;
  color:#e56e5c;

}


.fair-heading p{

  color:slategray;
  padding-top:1.25em;
  
}

.center-wrapper figure{
  
  padding:1em;
  
}


.center-wrapper{

  position:relative;
  width:90%;
  top:2em;
  margin-right:auto;
  margin-left:auto;

}


#near-footer{

  top:1.5em;
  font-size:1em;
  background: #e56e5c;
  color:white;
  width:100%;
  position:relative;
  
}


#near-footer button{

  margin-top:1.5em;
  background: white;
  color:black;
  border: solid black 3px;
  border-radius: 10px;
  padding:2px;
  padding-left:5px;
  padding-right:5px;
  margin-left:4px;
  box-shadow: 0 0 3px rgba(10,10,10,0.3);
  
}

.footer{

  color:white;
  position:relative;
 
}


.modal-dialog, .modal-content{
  border: solid black 10px;
  position:relative;
  z-index:9999;
}