.user-profile .underline{
  text-decoration: underline;
}

.user-profile .container{
  width:100%;
}

.user-profile-head{
  height: 14em;
  background: purple;
}

.user-profile-head h1{

  position: relative;
  top:1.5em;
  width:100%;
  height:7em;
  color: white;
 
}

.user-profile .artist{
  border-radius: 20px;
  padding-left:20px;
  padding-right:20px;
  background: #e56e5c;
  color:white;
}

.user-profile .photo-circle{
  position:relative;
  top:1em;
  border: solid #eee 4px;
  box-shadow: 0 0 4px 1px white;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display:block;
  overflow:hidden;
  margin-left:auto;
  margin-right:auto;
  display:cover;
  background: white;
}

.user-profile .inner-circle{
  position:absolute;
  z-index:9999;
  width:100%;
  height:100%;
  top: .75em;
}

.user-profile-bottom{
  position:relative;
  top:300px;
  overflow:hidden;
  background: #3a3a3a;
  color:white;
}

.user-profile a:visited{
  color: black;
}

.user-profile-forms{

  width: 80%;
  top:1em;

}

.user-profile .social{
  margin-bottom:4em;
}


.user-profile .input-group-addon{
  background: white;
  color: green;
}

.user-profile .help-block{
  margin-top: -.75em;
}

.user-profile .help-block button{
  margin-left: 10px;
  border: solid 2px tomato;
  padding: .1em .5em .1em .5em;
}

.user-profile .social-buttons{
  margin-top: 1em;
}

/*make width wider on wider screens*/

.user-profile-forms article{
 
  margin-top:2em;
  left:0; 
  width:100%;
  height: 270px;
 
}

.user-profile .my-account{
  width:80%;
  position:relative;
  top:2em;
}


.user-profile .input-group{

  width:100%;
  padding-top:2px;
  padding-bottom:1em;

}

.user-profile .button-wrapper{
  position:relative;
  top:1em;
  width:100px;
}




/*
 * jQuery File Upload Plugin CSS 1.3.0
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
