.user-profile .container{
 
  width:100%;
  

}


.user-profile-head{

  height: 14em;
  background: purple;
  
}

.user-profile-head h1{

  position: relative;
  top:1.5em;
  width:100%;
  height:7em;
  color: white;
 
}

.photo-circle{
  position:relative;
  top:1em;
  border: solid #eee 4px;
  box-shadow: 0 0 4px 1px white;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display:block;
  overflow:hidden;
  margin-left:auto;
  margin-right:auto;
  display:cover;
  background: white;
}

.inner-circle{

  position:absolute;
  z-index:9999;
  width:100%;
  height:100%;
  top: .75em;
}

.user-profile-bottom{

  position:relative;
  top:300px;
  overflow:hidden;
  background: #3a3a3a;
  color:white;

}

a:visited{
  color: black;
}

.user-profile-forms{

  width: 80%;
  top:1em;

}

/*make width wider on wider screens*/

.user-profile-forms article{
  top:2em;
  left:0; 
  width:90%;
  height: 270px;
 
}

article p{
  margin-top:1em;
}

article .btn-group{

  margin-left:5em;
  margin-right:5em;

}

.dropdown-toggle{
  background:tomato;
  color:white;
}

.button-wrapper{
  position:relative;
  top:1em;
  width:100%;
}

.user-profile-logo-bottom{

  width:200px;
 
}

.user-profile-top-logo{

  width:3em;

}

.user-profile-search{
  padding-top:.5em;
}

.top-logo-holder{
  width: 50px;
  height:50px;
  
}

.article{
  position: relative;
  width:400px;
  border: solid pink 1px;
}



.top-drop, .top-drop:active{

  background: inherit;
   
}

.top-drop:hover{
  background: #d1ccca;
}

.footer{

  color:white;
  position:relative;
 
}

/*
 * jQuery File Upload Plugin CSS 1.3.0
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
